<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.liuer.graduationdesign.dao.system.CustomerDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->
    <!--添加操作-->
    <insert id="add">
        insert into customer(id,username,password,phone,address,email)
        values(null,#{username},#{password},#{phone},#{address},#{email})
    </insert>
    <!--删除操作-->
    <delete id="delete">
        delete from customer where id=#{id}
    </delete>
   <!-- 查询操作-->
    <select id="getAll" resultType="Customer">
        select * from customer order by id asc
    </select>

    <select id="get"  resultType="Customer">
        select * from customer where id=#{id}
    </select>
    <select id="countCustomerByUsername"  resultType="int">
        select count(id) from customer where username=#{username}
    </select>
    <update id="update" parameterType="Customer">
        update customer
        <!-- 使用set标签可以将动态的配置SET 关键字，和剔除追加到条件末尾的任何不相关的逗号。 -->
        <set>
            <if test="username!=null and username.length()>0">username=#{username},</if>
            <if test="address!=null and address.length()>0">address=#{address},</if>
            <if test="password!=null and password.length()>0">password=#{password},</if>
            <if test="phone!=null and phone.length()>0">phone=#{phone},</if>
            <if test="email!=null and email.length()>0">email=#{email},</if>
        </set>
        where id=#{id}
    </update>
</mapper>